<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye, <% if @user.first_name %><%= @user.first_name %><% else %><%= @user.email %><% end %>!</h1>
    <p>
      We are really sad to see you go!
    </p>
    <p>
      Accounts cannot be recovered because we want to make sure your data is deleted. If you change your mind, 
      you can always make another account with this email. 
    </p>
    <p>Thanks for being with us and we hope to see you again!</p>
  </body>
</html>
