<h1>Account Details</h1>

<% if @user.ngo != true %>
  <%= render "form_edit_user", user: @user %>
<% else %>
  <%= render "form_edit_ngo", user: @user %>
<% end %>

<br>

<div>
  <%= link_to "Back", @user %>
</div>
