<div class="container-fluid w-50">
    
  <div class="text-center text-purple m-3 p-3">
    <h1>Edit Account</h1>
  </div>

  <div>
    <% if @user.ngo == true %>
      <%= render "form_edit_ngo", user: @user %>
    <% else %>
      <%= render "form_edit_user", user: @user %>
    <% end %>
  </div>

  <div class="pt-3">
    <%= link_to "Back", @user %>
  </div>
</div>