<div class="container" style="text-align: center">
        <h1>Welcome to GuardianLink!</h1><br>
    </div>

    <div class="container">
        <h2>What is GuardianLink?</h2> <br>
        <p>GuardianLink (GL) is a platform dedicated to bridging the gap between providers of cybersecurity specialists
            and clients in need of these services. Our primary focus is on supporting non-profit organizations at no
            cost to them. GL was created by a small team of Coding For Veterns students that felt it was way too hard for non-profit 
            organizations to find and pay for cybersecurity specialists. We believe that this barrier needs to be broken down, so 
            we made GL to provide both parties with tools to overcome this difficulty! </p> <br>
    </div>

    <div class="container">
        <h2>Who are we?</h2> <br>
        <p>As we stated, GL was made by a small group of passionate Coding For Veterns students, and just like our specialists 
            we are also volunteers in the creation and maintenance of the GL vision! To put your mind at ease, meet the team:</p>
        <p>Cameron Thain: Co-Founder </p>
        <p>Val Butross: Co-Founder </p>
        <p>Andrew Vollhoffer: Full-stack Website designer/maintainer </p>
    </div>

    <div class="container">
        <h2>Why join GuardianLink?</h2> <br>
        <p>GL is a community platform made to connect talented security specialists with
        non-profit organizations that can't afford the care and protection they need. This vision takes generous volunteers and 
        oraganizations willing to accept volunteer help. So please join if you are a cybersecurity specialist that can help organizations 
        with their security needs, or a business that needs access to a generous volunteer community!</p> <br>
    </div>

    <h1 style="text-align: center"><%= link_to "JOIN NOW", new_user_path, class: "btn btn-primary"%></h1>