<h1>New user</h1>

<%= render "form_new", user: @user %>

<br>

<div>
  <% if user_signed_in? %>
    <%= link_to "Back", users_path %>
  <% else %>
    <%= link_to "Back", root_path %>
  <% end %>
</div>
