<% if params[:q] != "ngo" %>
  <%= render "form_new_user", user: @user %>
<% else %>
  <%= render "form_new_ngo", user: @user %>
<% end %>

<br>

<div>
  <% if user_signed_in? %>
    <%= link_to "Back", users_path %>
  <% else %>
    <%= link_to "Back", root_path %>
  <% end %>
</div>
