<h1>Account Details</h1>

<% if @user.profile_photo.attached? %>
  <p> <%= image_tag(@user.profile_photo, size: "50", alt: "pfp") %> </p>
<% end %>

<% if @user.ngo != true %>
  <%= render "show_user" %>
<% else %>
  <%= render "show_ngo" %>
<% end %>
